{% extends "templates/base.html" %}
{% block content %}

<a class="btn btn-default btn-sm" href="medlemmer/ny">Ny</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Fornavn</th>
            <th>Etternavn</th>
        </tr>
    </thead>
    <tbody>
        {% for medlem in medlemmer %}
            <tr>
                <td><a class="btn btn-default btn-sm" href="medlemmer/{{medlem.id}}">Vis</a></td>
                <td>{{medlem.fornavn}}</td>
                <td>{{medlem.etternavn}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
